@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

/* menu */

.container_menu{
    width: 100%;
    height: 70px;
    background: #092327;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #ef8354;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/* main */

main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}

article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

/* imagenes */
.container {
    padding: 20px;
    background: #ddd;
    font-family:sans-serif;
    color:#666;
  }
  .img3 {
    display:block;
    margin:auto;
    max-width: 100%;
    height: auto;
  }

/* responsive */

.icon_menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label_check{
    width: 26px;
    height: 100%;
    display: none;
}

#check_menu{
    display: none;
}

/* footer*/

.container_footer{
    width: 100%;
    height: 70px;
    background: #092327;
    padding: 0px 20px;
}
.footer_p {
text-decoration: none;
color: white;
padding: 20px;
display: block;
text-align: left; 
} 


@media screen and (max-width: 720px){

    nav > ul{
        flex-direction: column;
        background-color: #092327;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

     #label_check{
        display: block;
    }

    .icon_menu{
        display: flex;
    }

    #check_menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    main{
        margin-top: 70px;
    }
}